@import 'theme.scss';

// @import '../node_modules/roboto-fontface/css/roboto/sass/roboto-fontface.scss';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}